body {
    padding: 1rem;
}

.flex {
    display: flex;
}

.flex__center {
    align-items: center;
    justify-content: center;
}

.flex__column {
    flex-direction: column;
}

a {
    color: black;
    margin-right: .5rem;
    text-decoration: none;
}

a:hover {
    color: rgba(82, 31, 12, 0.993);
    text-decoration: none;
}

header {
    text-align: center;
}

input {
    width: 50vw;
    height: 2.5rem;
    padding: 0 0.5rem;
    border: black 2px solid;
}

input:focus {
    border-radius: 0;
    outline: none;
}

.input__search-btn {
    height: 2.5rem;
    width: fit-content;
    padding: 0 0.4rem;
    border: black 2px solid;
    border-left: none;
    cursor: pointer;
}

.input__search-btn:hover {
    background-color: rgba(219, 146, 120, 0.808);
}

img {
    height: 1rem;
    width: 1rem;
}

.article {
    background-color: rgba(182, 177, 177, 0.884);
    margin-top: 1rem;
    max-width: 70vw;
    padding: 1rem;
}

.article__title {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    header {
        text-align: left;
    }
    input {
        width: 60vw;
    }
    .article {
        max-width: 100%;
    }
}